# GIT
.gitignore
teste.js
_tailwind.config.ts
_globals.css
zzz.txt

# ENV
.env*
.dev*

# NODE
node_modules/

# WRANGLER
wrangler.jsonc
worker-configuration.d.ts
.wrangler/
.open-next/

# NEXT
next-env.d.ts
.next/

# misc
.DS_Store
db.sql
run.sql
dados.txt

# VSCODE
.vscode

# /ECOMMERCE
# .git
# .github
#     workflows
#         deploy.yml
# apps/
#     ecommerce/
#         .next/
#         .open-next/
#         .wrangler/
#         node_modules/
#         public/
#         src/
#         package.json
# scripts/
#     db.js
#     deploy-user.js
#     deploy.js
#     utils.ts
# .gitignore
